<div class="card card-transparent">
  <div class="card-header ">
    <div class="card-title">Управление каталогом</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div id="catBread"></div>
        <h5>{{:parentGroup.fullData.name}}</h5>
        <div class="card card-borderless">
          <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="dropdownfx">
            {{for catalogList}}
            <li class="nav-item">
              <a class="{{if #index === 0}}active{{/if}}" data-toggle="tab" role="tab" data-target="#groupTab{{:id}}" href="#">
                {{:fullData.name}}
              </a>
            </li>
            {{/for}}
          </ul>
          <div class="tab-content">
            {{for catalogList}}
              <div class="tab-pane {{if #index === 0}}active{{else}}fade{{/if}}" id="groupTab{{:id}}">
                <form role="form" id="fmEditGroup{{:id}}">
                  <div class="row column-seperation">
                    <div class="col-lg-6">
                      
                      <img name="catGroupImage{{:id}}" class="img-fluid" height="100"
                        data-src-retina="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                        data-src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                        src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}">  
                      
                      <div class="form-group form-group-default required">
                        <label>Изображение</label>
                        <input name="catGroupImageFile{{:id}}" type="file" id="catGroupImageFile{{:id}}" data-id="{{:id}}" />
                      </div>
                      
                    </div>
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group form-group-default required">
                            <label>Название группы</label>
                            <input name="catGroupName{{:id}}" type="text" class="form-control" placeholder="Лучше не супердлинное"
                              value="{{:fullData.name}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group form-group-default required">
                            <label>Описание\комментарий</label>
                            <input name="catGroupDesc{{:id}}" type="text" class="form-control" placeholder="Чтобы понятно было"
                              value="{{:fullData.description}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-right">
                      <button name="btnDeleteGroup" type="button" data-id="{{:id}}" class="btn btn-danger">Удалить</button>
                      <button name="btnSaveGroup" type="button" data-id="{{:id}}" class="btn btn-success">Сохранить</button>
                    </div>
                  </div>
                </form>
                <div class=" container-fluid container-fixed-lg m-t-20">
                  <div class="card card-default bg-contrast-lower">
                    <div class="card-header  separator">
                      <div class="card-title">
                        Подгруппы
                      </div>
                      <div class="card-controls">
                        <ul>
                          <li>
                            <button class="btn btn-primary" data-action="catalogList" data-exp="{{:~jsonToString({'idParentCatGroup' : id})}}">Новая
                              подгруппа</button>
                          </li>
                        </ul>
                      </div>

                    </div>

                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="card-columns">
                            {{for fullData.subGroups}}
                            <a href="#"
                              data-action="catalogList"
                              data-exp="{{:~jsonToString({'idParentCatGroup' : fullData.idParent})}}"
                            >
                              <div class="card card-default border-primary">
                                <img name="catGroupImage{{:id}}" class="card-image-top inherit-size"
                                  data-src-retina="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                  data-src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                  src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                  alt="{{:fullData.name}}">
                                <div class="card-body">
                                  <h5 class="card-title">{{:fullData.name}}</h5>
                                  <p class="card-text">{{:fullData.description}}</p>
                                </div>
                              </div>
                            </a>
                            {{/for}}
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <div class=" container-fluid   container-fixed-lg">
                  <div class="card card-default bg-contrast-lower">
                    <div class="card-header separator">
                      <div class="card-title">Товары</div>
                      <div class="card-controls">
                        <ul>
                          <li>
                            <button class="btn btn-primary"
                              data-action="editItem"
                              data-exp="{{:~jsonToString({'idParentCatGroup' : id, 'idItem' : "new"})}}"
                            >
                              Новый товар
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="card-columns">
                            {{for fullData.items}}
                              <a href="#"
                                data-action="editItem"
                                data-exp="{{:~jsonToString({'idParentCatGroup' : fullData.idGroup, 'idItem' : id})}}"
                              >
                                <div class="card card-default border-primary">
                                  <img name="catGroupImage{{:id}}" class="card-image-top inherit-size"
                                    data-src-retina="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                    data-src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                    src="/cabinet/assets/img/{{if fullData.image}}catalog/{{:fullData.image}}{{else}}logo_blue_2x.png{{/if}}"
                                    alt="{{:fullData.name}}">
                                  <div class="card-body">
                                    <h5 class="card-title">{{:fullData.name}}</h5>
                                    <p class="card-text">{{:fullData.description}}</p>
                                  </div>
                                </div>
                              </a>
                            {{/for}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/for}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>